{% extends "learning_logs/base.html" %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-4">Learning Log Blog...</h1>

    <p class="lead">This is my own Learning Log, where I keep a list of the
        topics I'm learning about. Whenever I learn something new
        about a topic, I make an entry summarizing what I've learned.</p>
      </div>

<div>
    <p> "Countinuous effort - not strength or intelligence - is the key to unlocikng our potential." - Winston Churchill.</p>

</div>
{% endblock page_header %}
